h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    color: #ac687a;
}

h3 {
    margin-bottom: 10px;
}

.add_new_product {
    padding: 20px 50px;
}

.add_new_product input {
    padding: 8px;
    font-size: 18px;
    border-radius: 5px;
}

.add_new_product #file_label {
    width: 120px;
}

.add_new_product button {
    padding: 8px 10px;
}

.add_new_product button,
.add_new_product .error {
    width: 600px;
}

img {
    width: 100px;
}

.show_products {
    padding: 10px 50px;
    min-height: calc(100vh - 66px - 69px - 192px - 40px - 10px);
}

.show_products > table {
    width: 100%;
    text-align: center;
}

.show_products th,
.show_products td {
    padding: 10px;
}

.show_products th {
    font-size: 18px;
}

.show_products .btn_update, 
.show_products .btn_delete {
    width: 100px;
    margin-top: 10px;
}

.navbar .menu > li.item_categories {
    border-color: #fff;
}

td {
    font-size: 18px;
}

.td_name {
    font-weight: 900;
    font-size: 20px;
}

/* Responsive */
@media screen and (max-width: 690px) {
    .show_products,
    .add_new_product {
        padding: 10px;
    }
}

@media screen and (max-width: 635px) {
    .add_new_product button,
    .add_new_product #file_label,
    .add_new_product input {
        width: 100%;
        margin-top: 10px;
    }

    table, td {
        border: none;
    }

    th {
        display: none;
    }

    .show_products td {
        display: block;
        padding: 0;
        padding-top: 5px;
    }

    .td_name {
        padding-top: 10px;
        border-top: 1px solid;
    }

    .show_products .btn_delete {
        margin-top: 0;
        margin-bottom: 10px;
    }

    img {
        width: 200px;
    }
}

@media screen and (max-width: 570px) {
    .navbar .menu > li.item_categories {
        background-color: rgba(0, 0, 0, 0.4);
        border-bottom: none;
    }
}